﻿<h2>QUẢN LÝ GAS</h2>

<button id="btn-add-new-gas">Thêm Loại Gas</button>
<div class="container">
    <div class="row" id="contaier-list-gas">
    </div>
</div>



@*Kho hang*@
<div class="container">
    <table class="table table-bordered">
        <thead>
            <tr id="row-header-gas"></tr>
        </thead>
        <tbody>
            <tr id="row-gas-water"></tr>
            <tr id="row-gas-shell"></tr>
            <tr id="row-import-price"></tr>
            <tr id="row-wholesale-price"></tr>
            <tr id="row-retail-price"></tr>
            <tr id="row-funtion-gas"></tr>

        </tbody>
    </table>
</div>
@*Kho hang*@

<hr />

@*Lịch sử nhập kho*@
@*<div class="container">
        <h2>LỊCH SỬ NHẬP KHO</h2>
        <table class="table table-hover table-striped">
            <thead>
                <tr>
                    <th>Ngày Nhập</th>
                    <th>Loại Gas</th>
                    <th>Số Lượng</th>
                    <th>Nợ Vỏ</th>
                    <th>Nợ Nước</th>
                    <th>Ghi Chú</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model._lichsunhapkho)
                {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Ngaynhap)</td>
                    <td><img class="rounded" id="imagegas_@item.LichsunhapkhoId" src="@item.LoaiGas.Image" alt="Gas Image" style="width:50px;height:50px;"><span>@Html.DisplayFor(modelItem => item.LoaiGas.TenLoaiGas)</span></td>
                    <td>@Html.DisplayFor(modelItem => item.Soluong)</td>
                    <td>@Html.DisplayFor(modelItem => item.Novo)</td>
                    <td>@Html.DisplayFor(modelItem => item.Nonuoc)</td>
                    <td id="ghichu_@item.LichsunhapkhoId">@Html.DisplayFor(modelItem => item.Ghichu)</td>
                    <td>
                        <a data-toggle="modal" data-id="@item.LichsunhapkhoId" class="sualichsu btn btn-primary" href="#sualichsu">SỬA</a>
                        <a data-toggle="modal" title="Xoa lịch sử" data-id="@item.LichsunhapkhoId" class="xoalichsu btn btn-danger" href="#xoalichsu">XÓA</a>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>*@
@*Lịch sử nhập kho*@ 

<div id="createOrEditGasModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">THÊM LOẠI GAS MỚI</h2>
            </div>

            <div class="modal-body">
                <div class="row justify-content-center">
                    <div class="col-4">
                        <div class="form-group">
                            <img class="rounded" src="~/Storage/GasImage.png" alt="Gas Image">
                            <label class="control-label"></label>
                            <input type="file" class="form-control" id="gas-image-field" />
                        </div>
                    </div>
                    <div class="col-8">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-4">
                                    <label for="gas-name-field" class="col-form-label">Tên:</label>
                                </div>
                                <div class="col-md-8">
                                    <input type="text" class="form-control" id="gas-name-field">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-4">
                                    <label for="gas-name-field" class="col-form-label">Số Lượng Vỏ: </label>
                                </div>
                                <div class="col-md-8">
                                    <input type="text" class="form-control" id="gas-shell-amount-field">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-4">
                                    <label for="gas-name-field" class="col-form-label">Số Lượng Nước: </label>
                                </div>
                                <div class="col-md-8">
                                    <input type="text" class="form-control" id="gas-water-amount-field">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-4">
                                    <label for="gas-description-field" class="col-form-label">Mô tả:</label>
                                </div>
                                <div class="col-md-8">
                                    <textarea class="form-control" id="gas-description-field"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-4">
                                    <label for="import-price-field" class="col-form-label">Giá nhập:</label>
                                </div>
                                <div class="col-md-8">
                                    <input type="number" class="form-control" id="import-price-field">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-4">
                                    <label for="wholesale-price-field" class="col-form-label">Giá sỉ:</label>
                                </div>
                                <div class="col-md-8">
                                    <input type="number" class="form-control" id="wholesale-price-field">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-4">
                                    <label for="retail-price-field" class="col-form-label">Giá lẻ:</label>
                                </div>
                                <div class="col-md-8">
                                    <input type="number" class="form-control" id="retail-price-field">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-primary" id="btn-create-gas">Thêm</button>
            </div>
        </div>
    </div>
</div>

<div id="DeleteGasModal" class="modal fade" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">XÁC NHẬN</h2>
            </div>
            <div class="modal-body">
                <p>Bạn có muốn xóa loại gas này không?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">KHÔNG</button>
                <button type="button" class="btn btn-primary" id="btn-confirm-delete-gas">XÓA</button>
            </div>
        </div>
    </div>
</div>


<script>
    $(function () {
        GasIndex.init();
    });

    var GasIndex = function () {
        var variable = {
            DOM: {
                Name: $("#gas-name-field"),
                Image: $("#gas-image-field"),
                Description: $("#gas-description-field"),
                ImportPrice: $("#import-price-field"),
                WholesalePrice: $("#wholesale-price-field"),
                RetailPrice: $("#retail-price-field"),
                GasWaterAmount: $("#gas-water-amount-field"),
                GasShellAmount:$("#gas-shell-amount-field"),

                BtnDeleteGas: $(".btn-delete-gas"),
                BtnDeleteGasClassName: ".btn-delete-gas",
                BtnAddNewGas: $("#btn-add-new-gas"),
                BtnSaveNewGas: $("#btn-create-gas"),

                BtnConfirmDeleteGas: $("#btn-confirm-delete-gas"),


                ModalCreateOrEdit: $("#createOrEditGasModal"),
                ModalDeleteGas: $("#DeleteGasModal"),
                DivListGas: $("#contaier-list-gas"),

                RowHeaderGas: $("#row-header-gas"),
                RowGasWater: $("#row-gas-water"),
                RowGasShell: $("#row-gas-shell"),
                RowImportPrice: $("#row-import-price"),
                RowWholesalePrice: $("#row-wholesale-price"),
                RowRetailPrice: $("#row-retail-price"),
                RowFunctionGas: $("#row-funtion-gas")
            },
            URL: {
                CreateGas: '/Gas/CreateGas/',
                GetListGas: '/Gas/GetListGas',
                DeleteGas: '/Gas/DeleteGas/',
            }
        };
        var store = {
            GasData: null,
            ListGas: []
        };

        var gasList = function () {
            var _getGasData = function _getGasData() {
                store.GasData = {
                    Name: variable.DOM.Name.val(),
                    Image: variable.DOM.Image.val(),
                    Description: variable.DOM.Description.val(),
                    ImportPrice: variable.DOM.ImportPrice.val(),
                    WholesalePrice: variable.DOM.WholesalePrice.val(),
                    RetailPrice: variable.DOM.RetailPrice.val(),
                    GasWaterAmount: variable.DOM.GasWaterAmount.val(),
                    GasShellAmount: variable.DOM.GasShellAmount.val()
                }
            };

            var _createGas = function _createGas(callback) {
                _getGasData();
                var files = variable.DOM.Image.get(0).files;
                var data = new FormData();
                for (var i = 0; i < files.length; i++) {
                    data.append('file', files[i]);
                }

                data.append('Name', store.GasData.Name);
                data.append('Description', store.GasData.Description);
                data.append('ImportPrice', store.GasData.ImportPrice);
                data.append('WholesalePrice', store.GasData.WholesalePrice);
                data.append('RetailPrice', store.GasData.RetailPrice);
                data.append('GasWaterAmount', store.GasData.GasWaterAmount);
                data.append('GasShellAmount', store.GasData.GasShellAmount);
                $.ajax({
                    url: variable.URL.CreateGas,
                    type: 'POST',
                    contentType: false,
                    processData: false,
                    dataType: "json",
                    data: data
                })
                    .done(function (result) {
                        if (typeof callback === 'function') {
                            callback();
                        }
                    });
            }

            var _deleteGas = function _deleteGas(gasId, callback) {
                var identity = {
                    Id: gasId
                };
                $.ajax({
                    url: variable.URL.DeleteGas,
                    type: 'POST',
                    dataType: "json",
                    data: identity
                })
                    .done(function (result) {
                        if (typeof callback === 'function') {
                            callback();
                        }
                    });
            }

            var _getListGas = function _getListGas() {
                $.ajax({
                    url: variable.URL.GetListGas,
                    type: 'GET',
                    data: null
                })
                    .done(function (result) {
                        store.ListGas = result.entity;
                        _appendListGas();
                        registerEvents();
                    });
            };


            var _appendListGas = function _appendListGas() {
                var listGas = store.ListGas;
                if (listGas.length < 1) {
                    return;
                }
                var rowHeaderGas = '<th></th>';
                var rowGasWater = '<td>Nước Gas</td>';
                var rowGasShell = '<td>Vỏ Gas</td>';
                var rowImportPrice = '<td>Giá Nhập</td>';
                var rowWholesalePrice = '<td>Giá Sỉ</td>';
                var rowRetailPrice = '<td>Giá Lẻ</td>';
                var rowFuntionGas = '<td></td>';
                for (var i = 0; i < listGas.length; i++) {
                    var currentElement = listGas[i];
                    rowHeaderGas += '<th colspan="2"><a><img class="rounded" src="' + currentElement.image + '" style="width:50px;height:50px;"><span>' + currentElement.name + '</span></a></th>';
                    rowGasWater += '<td colspan="2">' + currentElement.gasWaterAmount + '</td>';
                    rowGasShell += '<td colspan="2">' + currentElement.gasShellAmount + '</td>';
                    rowImportPrice += '<td><span>' + currentElement.importPrice + '</span><span>đ</span></td>' +
                        '<td rowspan="3" class="align-middle"><a data-toggle="modal" title="Edit this item" data-id="' + currentElement.gasId + '" class="capnhatgiagas btn btn-primary" href="#capnhatgiagas">Cập Nhật</a></td>';
                    rowWholesalePrice += '<td><span>' + currentElement.wholesalePrice + '</span><span>đ</span></td>';
                    rowRetailPrice += '<td><span>' + currentElement.retailPrice + '</span><span>đ</span></td>';
                    rowFuntionGas += '<td colspan="2">' +
                        '<button type="button" class="btn btn-danger btn-delete-gas" data-gasId="' + currentElement.gasId + '">XÓA</button>' +
                        '<a data-toggle="modal" data-id="' + currentElement.gasId + '" title="Nhập Gas" class="nhapgas btn btn-info" href="#nhapgas">NHẬP GAS</a>' +
                        '</td>';
                }

                variable.DOM.RowHeaderGas.html("");
                variable.DOM.RowHeaderGas.append(rowHeaderGas);
                variable.DOM.RowGasWater.html("");
                variable.DOM.RowGasWater.append(rowGasWater);
                variable.DOM.RowGasShell.html("");
                variable.DOM.RowGasShell.append(rowGasShell);
                variable.DOM.RowImportPrice.html("");
                variable.DOM.RowImportPrice.append(rowImportPrice);
                variable.DOM.RowWholesalePrice.html("");
                variable.DOM.RowWholesalePrice.append(rowWholesalePrice);
                variable.DOM.RowRetailPrice.html("");
                variable.DOM.RowRetailPrice.append(rowRetailPrice);
                variable.DOM.RowFunctionGas.html("");
                variable.DOM.RowFunctionGas.append(rowFuntionGas);
            }

            return {
                createGas: function (callback) {
                    _createGas(callback);
                },
                getListGas: function () {
                    _getListGas();
                },
                appendListGas: function () {
                    _appendListGas();
                },
                deleteGas: function (gasId, callback) {
                    _deleteGas(gasId, callback);
                }
            }
        }();

        //var fn = function () {
        //    return {
        //        dosmt: function () {
        //            // smt a
        //            // smt b
        //            // smt c
        //        }
        //    }
        //}();

        var createEditPopup = function () {
            return {
                show: function () {
                    variable.DOM.ModalCreateOrEdit.modal('show');
                },
                hide: function () {
                    variable.DOM.ModalCreateOrEdit.modal('hide');
                }
            }
        }();

        var deletePopup = function () {
            return {
                show: function () {
                    variable.DOM.ModalDeleteGas.modal('show');
                },
                hide: function () {
                    variable.DOM.ModalDeleteGas.modal('hide');
                }
            }
        }();

        var registerEvents = function _registerEvents() {
            variable.DOM.BtnAddNewGas.click(function () {
                createEditPopup.show();
            });
            variable.DOM.BtnSaveNewGas.click(function () {
                var callback = function () {
                    createEditPopup.hide();
                    gasList.getListGas();
                }
                gasList.createGas(callback);
            });

            $(variable.DOM.BtnDeleteGasClassName).click(function () {
                var gasId = $(this).attr("data-gasId");
                if (gasId == null || gasId == undefined || gasId == "") {
                    return;
                }
                variable.DOM.BtnConfirmDeleteGas.attr("data-gasId", gasId);
                deletePopup.show();
            });

            variable.DOM.BtnConfirmDeleteGas.click(function () {
                var gasId = $(this).attr("data-gasId");
                var callback = function () {
                    deletePopup.hide();
                    gasList.getListGas();
                }
                gasList.deleteGas(gasId, callback)
            });

        }
        return {
            init: function () {
                gasList.getListGas();
            }
        }
    }();
</script>